
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.shell{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color:black;
}
header{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 177, 177);
}
main{
    display: flex;
    flex-basis: 40%;
    background-color: rgba(235, 241, 173, 0.726);

}
.global_main{
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;  
}
.main_box{ 
    display: flex;
    flex-basis: 40%;
    justify-content:center;
    align-items:flex-start;
}
.wrapper_box{
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    flex-direction: row;   
}
.more_1{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin: 7px;
    background-color: rgb(236, 161, 114);
}
.more_2{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin: 7px;
    background-color: rgb(236, 161, 114);

}
.more_3{
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    margin: 7px;
    background-color: rgb(236, 161, 114);

}
.aside{
    display: flex;
    flex-basis: 40%;
    justify-content:center;
    height: 400px;
    width: 432px;
    background-color: rgba(96, 209, 171, 0.705);
}
footer{
    flex-basis: 25%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 177, 177);
 }
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin: 20px;
    background-color:white;
}